<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form>
          <ion-item>
            <ion-input placeholder="Enter email " expand="block" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" required expand="block">send</ion-button>
            </ion-col>
          </ion-row>
          <small>veuillez fournir le nom d'utilisateur ou l'adress e-mail
            que vous avez utlilisés lors de votre connexion.
          </small>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
